body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 0px;
}

.label {
    font-size:medium
}

.button {
    margin: 10px 0px;
    padding: 0.5rem;
    background-color: steelblue;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 5px;
}